.logouui {
	margin-left: 10px;
	line-height: 150px;
	transition: 0.2s;
}

.labellogo {
	position: fixed !important;
	left: 10px !important;
	top: 0;
	height: 150px;
	width: 100px;
	background-color: whitesmoke;
	border-bottom-left-radius: 10px !important;
	border-bottom-right-radius: 10px !important;
	-webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.23);
	-moz-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.23);
	box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.23);
	transition: 0.2s;

}

.teksslide {
	margin: auto;
	width: 100%;
	position: relative;
	top: 400px;
	background-color: rgba(0, 53, 228, 0.212);
}

.mototext {
	color: #fff !important;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 35px !important;
	text-shadow: 0px 5px 5px rgba(0, 0, 0, .25);
}


.site-navbar-wrap {
	-webkit-box-shadow: -1px 7px 15px -4px rgba(0, 0, 0, 0.47);
	-moz-box-shadow: -1px 7px 15px -4px rgba(0, 0, 0, 0.47);
	box-shadow: -1px 7px 15px -4px rgba(0, 0, 0, 0.47);
}

.site-navbar-wrap,
.site-navbar {
	background-color: rgb(255, 34, 34) !important;

}

.sticky {
	position: fixed !important;
	z-index: 100 !important;
	top: 0 !important;
}

.site-navbar-top {
	background-color: rgb(223, 3, 3) !important;
	color: black !important;
}

ul .dropdown {
	border-radius: 5% !important;
	width: 300px !important;
}

.site-blocks-cover,
.site-blocks-cover .row {
	min-height: 500px !important;
	height: 500px !important;
}

.site-section.block-14 {
	margin-top: -50px !important;
	margin-bottom: -50px !important;
}

.berita {
	padding-top: 50px !important;
}


/*============= news style ==================*/
a:hover {}

a,
a:focus,
a:hover {
	text-decoration: none;
	color: inherit;
}

a:hover,
.btn {
	outline: none !important;
}

/*ROUNDED CORNER*/
* {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}

/*CATEGORIES BADGE*/
.badge {
	font-weight: 600;
	font-size: 13px;
	color: white !important;
	background-color: #fd4242;
}

/*FEATURED*/
.mg-2,
.mg-4 {
	margin-left: -20px;
}

.linkfeat {
	background: rgba(76, 76, 76, 0);
	background: -moz-linear-gradient(top, rgba(76, 76, 76, 0) 0%, rgba(48, 48, 48, 0) 49%, rgba(19, 19, 19, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76, 76, 76, 0)), color-stop(49%, rgba(48, 48, 48, 0)), color-stop(100%, rgba(19, 19, 19, 1)));
	background: -webkit-linear-gradient(top, rgba(76, 76, 76, 0) 0%, rgba(48, 48, 48, 0) 49%, rgba(19, 19, 19, 1) 100%);
	background: -o-linear-gradient(top, rgba(76, 76, 76, 0) 0%, rgba(48, 48, 48, 0) 49%, rgba(19, 19, 19, 1) 100%);
	background: -ms-linear-gradient(top, rgba(76, 76, 76, 0) 0%, rgba(48, 48, 48, 0) 49%, rgba(19, 19, 19, 1) 100%);
	background: linear-gradient(to bottom, rgba(76, 76, 76, 0) 0%, rgba(48, 48, 48, 0) 49%, rgba(19, 19, 19, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0);
}

/* ===============end news style ==============*/
/*  */


@media (max-width: 1280px) {
	.labellogo {
		height: 0px !important;
	}

	.logouui {
		opacity: 0;
	}
}
